body {
  font-family: serif;
  background: #111;
  color: #eee;
}

#game {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #555;
}